.card {
    margin: 5% 25% 1% 25%;
    max-width: 900px;
    width: 50%;
    min-height: 540px;
    background: url(https://tvseriescritic.files.wordpress.com/2016/10/stranger-things-bicycle-lights-children.jpg) center / cover no-repeat;
}

.data h1 {
    font-family: 'Ubuntu';
    font-weight: 900;
    color: white;
}

.data {
    width: 100%;
    padding: 1rem;
    position: absolute;
    bottom: 25%;
}

.location {
    font-size: 12px;}
.footer{
    font-weight: 600;

}
.text {
    height: 70px;
    margin: 0;
}
.header {
    color: white;
    padding: 1em;
}

.header .date {
    float: left;
    font-size: 12px;
}

.data {
    color: white;
    transform: translateY(calc(70px + 4em));
}